- $body = 'body {-webkit-text-size-adjust: 90%; -ms-text-size-adjust: 90%; -moz-text-size-adjust: 90%; -o-text-size-adjust: 90%; text-size-adjust: 90%; margin: 0; padding: 0; border: 0; word-wrap: normal; }'+"\n";
- $table = 'table {border-collapse: collapse; margin: auto; padding: 0; }'+"\n";
- $tabFL = 'table[align=left] {float: left; }'+"\n";
- $td = 'td {font-size: 0; }'+"\n";
- $td_img = 'td img {display: block; }'+"\n";
 / line-height: 0;
- $img = 'img {display: block; }'+"\n";
- $a = 'a {line-height: normal; }'+"\n";
- $a_img = 'a img {border: 0; }'+"\n";
- $ReadMsgBody = '.ReadMsgBody {width: 100%; }'+"\n";
- $ExternalClass = '.ExternalClass {width: 100%; }'+"\n";
- $ExternalClass_ALL = '.ExternalClass * {line-height: 100%; }'+"\n";
- $a_Tel = 'a[href^="tel:"] {color: inherit; text-decoration: none; }';