- date = "0316"
- $url = "http://www.confortetvie.fr/fr/"
- $onlinenews = "http://www.confortetvie.com/NewsLettersCV/FR/Cata_#{date}/index.html"
- $campagne = "#{date}_cata"
/ HEADER
- $logo = "#{$url}index.aspx?utm_source=NL&utm_medium=email&utm_content=logo&utm_campaign="+$campagne
- $cat = "http://www.confortetvie.fr/cat/fr/ECatalog.htm?utm_source=NL&utm_medium=email&utm_content=e-cata&utm_campaign="+$campagne
- $nav = ["#{$url}confort-bien-etre/Univers.html","#{$url}idees-vie-facile/Univers.html","#{$url}nuit-relax/Univers.html","#{$url}vetements-accessoires/Univers.html"]
-$navtrack = "?utm_source=NL&utm_medium=email&utm_content=univers&utm_campaign="+$campagne
/ GIFT
- $gift = ["#{$url}animation/presentation-cadeaux.aspx?utm_source=NL&utm_medium=email&utm_content=kdos&utm_campaign="+$campagne]
/ PCK
- $pckx3 = ["#{$url}confort-bien-etre/beaute/eau-cologne-chevrefeuille/4156022.html?utm_source=NL&utm_medium=email&utm_content=pdt&utm_campaign="+$campagne,"#{$url}idees-vie-facile/loisirs/sur-lunettes-lot-2-paires/6703128.html?utm_source=NL&utm_medium=email&utm_content=pdt&utm_campaign="+$campagne,"#{$url}confort-bien-etre/pieds-jambes/nettoie-orteils/7121320.html?utm_source=NL&utm_medium=email&utm_content=pdt&utm_campaign="+$campagne]
- $pckx2 = ["#{$url}confort-bien-etre/beaute/gel-ventre-plat/8573222.html?utm_source=NL&utm_medium=email&utm_content=pdt&utm_campaign="+$campagne,"#{$url}vetements-accessoires/accessoires/ombrelle-dentelle-beige/6595326.html?utm_source=NL&utm_medium=email&utm_content=pdt&utm_campaign="+$campagne]
-$link_btnshowallpdt = "#link_btnshowallpdt/"
/ FOOTER
- $fURL       = "#{$url}index.aspx?utm_source=NL&utm_medium=email&utm_content=URL&utm_campaign="+$campagne
- $fgarantie  = "#{$url}achat_confiance/garanties.aspx?utm_source=NL&utm_medium=email&utm_content=garantie&utm_campaign="+$campagne
- $flivraison = "#{$url}achat_confiance/informations-livraison.aspx?utm_source=NL&utm_medium=email&utm_content=livraison&utm_campaign="+$campagne
- $fpaiement  = "#{$url}achat_confiance/paiement-securise.aspx?utm_source=NL&utm_medium=email&utm_content=paiement&utm_campaign="+$campagne
/ LEGAL
- $modalites   = "#{$url}pages/settlement.aspx?utm_source=NL&utm_medium=email&utm_content=garantie&utm_campaign="+$campagne+"#info-legale-2"
- $cgv   = "#{$url}achat_confiance/conditions-generales-de-vente.aspx?utm_source=NL&utm_medium=email&utm_content=cgv&utm_campaign="+$campagne
- $contact   = "#{$url}confort_et_vous/contact.aspx?val=A&utm_source=NL&utm_medium=email&utm_content=contact&utm_campaign="+$campagne
- $desabo    = "#{$url}animation/DesinscriptionNewsletter.aspx?utm_source=NL&utm_medium=email&utm_content=desabo&utm_campaign="+$campagne