/ pckX2 + pckX3
- $btntxt = "en savoir +";
/ pckX3
- $pck1x3txt = ["Eau de cologne chèvrefeuille ou rose","Le parfum subtil des fleurs"];
- $pck2x3txt = ["Lot de 2 paires de sur-lunettes","Une protection de jour comme de nuit!"];
- $pck3x3txt = ["Nettoie orteils"," Livré avec 2 housses éponge"];
/ pckX2
- $pck1x2txt = ["Gel ventre plat","Et si vous retrouviez votre taille de jeune fille ? Découvrez la vidéo !"];
- $pck2x2txt = ["Ombrelle &quot;dentelle&quot; beige","La noblesse de la dentelle sous le soleil !"];
/ banner
- $alt_banner = "La super Prime de Vacances, validez votre participation au tirage au sort : 2000€ à GAGNER ";