// functions.scss
/// Slightly lighten a color
@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}
$colorTxtCodeKdo : #674996;
body {-webkit-text-size-adjust: 90%; -ms-text-size-adjust: 90%; -moz-text-size-adjust: 90%; -o-text-size-adjust: 90%; text-size-adjust: 90%; margin: 0; padding: 0; border: 0; word-wrap: normal; }
table {border-collapse: collapse; margin: auto; padding: 0; }
table[align=left] {float: left; }
td {font-size: 0; }
td img {display: block; }
img {display: block; }
a {line-height: normal; }
a img {border: 0; }
.ReadMsgBody {width: 100%; }
.ExternalClass {width: 100%; }
.ExternalClass * {line-height: 100%; }
a[href^="tel:"] {color: inherit; text-decoration: none; }
.db {display: block;}
.altlogo {font-size: 48px; font-weight: bold; color: #932725;}
.altgift {font-size: 28px; font-weight: bold; color: #5B594F;}
.altcat {text-align: right; line-height: 76px; font-size: 18px; font-weight: normal; font-style: italic; color: #222222;}
.giftCode {color: #ff0000; font-family: Arial, Helvetica, sans-serif; font-size: 21px; }
.giftCode {font-family: Arial, Helvetica, sans-serif; font-size: 21px; color: $colorTxtCodeKdo; }